body {
    background-color: rgb(242, 239, 249);
}

h1 {
    background-color: rgb(1, 81, 161);
    color: white;
    font-size: 50px;
    padding-block: 10px;
}

intro {
    text-align: center;
    color: rgb(2, 78, 154);
    font-family:Montserrat, Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    border-style: solid;
    border-width: 1px;
    max-width: 96%;
  }

.disclaimer {
    font-size: smaller;
    font-style: italic;
}

.center h1 {
    width: 100%;
}

#recipe {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}  

tr.recipe {
    text-align: center;
}
td img{
    min-width:90px;
    max-width: 100%;
    height: auto;
}

td a{
    font-size: 18px;
    font-family: Montserrat, Tahoma, sans-serif;
    text-decoration: none;
}


/* .image {
    max-width:30%;
} */