* {
    box-sizing: border-box;
    line-height: 1.5;
}
html,
body{
    margin: 0px;
    height: 100%;
}
body {
    background-color: #00416A;
}

.container#container {

    max-width: 90vw;
    border: 0.2vw solid #6B3E00;
    border-radius: 1vw;
    background-color: #FFFAFA;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: calc(15px + 0.4vw);
    padding: 2vh 2vw;
}

td,
a, 
a:visited,
intro{
    color: #101010;
    text-align: center;
    text-decoration:none;
}

h1,
h1 a,
h1 a:visited {
    color: #FFFAFA;
    font-size: 80px;
    font-size: calc(32px + 3vw);
    font-weight:bold;
    margin-bottom: 1vh;
    margin-top: 0px;
}

h2 {
    font-size: calc(21px + 0.4vw);
}
table#recipe {
    max-height: 60vh;
    max-width: 50vw;
}

.center {
    margin-left:auto;
    margin-right: auto;
}   

h1 {
    background-color: #0071B8;
    /* border: 0.2vw solid #6B3E00; */
    border-radius: 1vw;
    text-align: center;
}

td img {
max-width: 25vw;
margin: 0vw 1vw 0vw 1vw;
}

img {
    border-radius: 1vw;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}